@charset "utf-8";
@font-face {
  font-family: 'logo';
  src: url('../fonts/logo.otf');
}
/*CABECALHO*/
*{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
body{
  background: url(../img/fundo.jpg);
  background-size: cover;
  background-position: center;
}
.cabecalho{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #000;
  color: #fff;
}
.cabecalho h1{
  font-weight: 300;
  margin: 5px;
  cursor: pointer;
  font-size: 2em;
  font-family: 'logo', sans-serif;
}
.menu ul{
  display: flex;
  list-style: none;
}
.menu ul li{
  margin: 8px;
}
.menu a{
  color: #fff;
  text-decoration: none;
  font-size: 1.5em;
}
.menu a:hover{
  transition: 0.5s;
  font-weight: 700;
  color: rgb(255, 0, 0);
}
@media screen and (max-width:700px){
  .cabecalho{
    flex-wrap: wrap;
    justify-content: center;
  }
}
/*SOBRE*/
.sobre{
  width: 100%;
  display: flex;
  background-color: rgba(19, 15, 15, 0.171);
  justify-content: center;
  align-items: center;
}
.sobre div{
  padding: 15px;
  max-width: 50%;
}
.sobre div h2{
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'logo', sans-serif;
  font-size: 3em;
  font-weight: 700;
  color: #000000;
}
.sobre div h3{
  color: #fff;
  font-style: italic;
  margin-bottom: 10px;
}
.sobre div p{
  color: #fff;
  margin: 10px;
}
.sobre div button{
  width: 120px;
  height: 46px;
  background-color: rgb(12, 193, 238);
  border: none;
  color: #fff;
  cursor: pointer;
  margin: 8px;
}
.sobre div button i{
  margin: 5px;
}